@model IEnumerable<NorthWeird.Domain.Entities.Category>

@{
    ViewBag.Title = "Categories";
}

<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item">@category.CategoryName</li>
    }
</ul>
