@{
    ViewData["Title"] = "Home";
}

<h3>Mentoring program</h3>
<a class="btn btn-outline-primary" href="https://epam.sharepoint.com/sites/ASPNetCore" target="_blank">Go to course materials</a>
<a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index" >Go to products list</a>