@model NorthWeird.WebUI.ViewModel.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot password  :'(";
}
<form method="post">
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2 col-form-label" asp-for="Email"></label>
            <div class="col-sm-2">
                <input class="form-control" asp-for="Email" />
            </div>
        </div>
    </div>

    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>