@model NorthWeird.WebUI.ViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password";
}
<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Token" />
        <input type="hidden" asp-for="Email" />

        <div class="row">
            <label class="col-sm-2 col-form-label" asp-for="Password"></label>
            <div class="col-sm-2">
                <input class="form-control" type="password" asp-for="Password"/>
            </div>
        </div>
        
        <div class="row">
            <label class="col-sm-2 col-form-label" asp-for="ConfirmPassword"></label>
            <div class="col-sm-2">
                <input class="form-control" type="password" asp-for="ConfirmPassword"/>
            </div>
        </div>

    </div>

    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>